<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>
                        E-Ayurveda Sign Up
                    </h1>
                    <h5>
                        Get Free Membership
                    </h5>
                    <hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input formControlName="name" placeholder="Enter Your Name " type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile</label>
                        <input formControlName="mobile" placeholder="Enter Your Mobile No " type="email"
                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" placeholder="Enter Your Email " type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" placeholder="Enter Unique Password like : 12@3wewd34es "
                            type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>

                <a routerLink="/login"> Already Member? Click to Login ! </a>


            </div>
        </div>
    </div>
</div>